{% extends 'portfolio/base.html' %}

{% block content %}

<div class="row text-center">
    <h6><h3>On this page are listed resources and books that I use in my education:<br><br></h3></h6>
</div>

<dl class="row">
    <dt class="col-sm-3">Courses:</dt>
    <dd class="col-sm-9"></dd>
  
    <dt class="col-sm-3">Technologie</dt>
    <dd class="col-sm-9">
      <p>Course name</p>
      <p>Description or link to the course</p>
    </dd>
  
  </dl>

  <dl class="row">
    <dt class="col-sm-3">Books:</dt>
    <dd class="col-sm-9"></dd>
  
    <dt class="col-sm-3">Book name</dt>
    <dd class="col-sm-9">
      <p>Description or link to the book</p>
    </dd>
  
  </dl>



{% endblock %}